body {
    background-color: #0e1116;
    background-image: url("img/github2.webp");
    background-size: 800px 1500px;
    background-repeat: no-repeat;
    background-position: right center;
}

.navbar {
    box-shadow: none !important;
}

.navbar .navbar.navbar-light .breadcrumb .nav-item .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: aliceblue !important;
}

.navbar-brand i {
    color: #fff;
    font-size: 33px;
}

.dropdown-toggle::after {
    display: none;
}

.navbar .collapse label a {
    font-size: 17px !important;
    font-weight: 500;
    color: #fff !important;
}

.navbar .collapse label a:hover {
    opacity: 0.7;
}

.navbar .collapse a i {
    font-size: 12px !important;
    font-weight: 400;
    color: #87888b !important;
}

.navbar .collapse a:hover i {
    vertical-align: -1px;
}

.git-serch-input {
    border-radius: 6px;
    width: 316px;
    height: 32px;
    border: 1px solid #666d75;
    background-color: rgba(46, 55, 74, .82) !important;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.git-serch-input span {
    color: #cacbcf;
}

.git-serch-icon {

    color: #666d75;
}

.git-serch-input-gudrat {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #666d75;
    color: #989a9c;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.git-serch-input-Signin button {
    color: #ffffff;
    background-color: transparent !important;
}

.git-serch-input-border {
    border-radius: 6px;
    border: 1px solid #d1d7dd;
    padding: 4px 8px;
}

.git-serch-input-border-no {
    border: none !important;
}

.github-h1-tittle {
    font-size: 82px;
    font-weight: 800;
    color: #fff;
    position: relative;
}

.github-h1-tittle::after {
    content: '';
    border-radius: 50%;
    border: 2px solid #57595c;
    width: 12px;
    height: 12px;
    background-color: #0e1116;
    position: absolute;
    left: -50px;
    top: 15px;
}

.github-h1-tittle::before {
    content: '';
    height: 200px;
    width: 3px;
    background: linear-gradient(transparent, #7C72FF 30%);
    position: absolute;
    left: -45.8px;
    top: 36px;
}

.github-tittle-paragraph {
    color: #868d96;
    font-size: 1.5rem;
    font-weight: 300;
}

.input-group {
    position: relative;
}

.input-group::after {
    content: '\2764';
    font-size: 24px;
    position: absolute;
    color: #fff;
    left: -55px;
    top: 7px;
    -webkit-box-shadow: 0px 2px 34px -3px rgba(102, 117, 234, 0.76);
    -moz-box-shadow: 0px 2px 34px -3px rgba(102, 117, 234, 0.76);
    box-shadow: 0px 2px 34px -3px rgba(102, 117, 234, 0.76);
}

.input-group::before {
    content: '';
    height: 218px;
    width: 3px;
    background: rgb(111, 66, 192);
    background: linear-gradient(0deg, rgba(85, 163, 87, 1) 28%, rgba(111, 66, 192, 1)67%);
    position: absolute;
    left: -45.8px;
    top: 55px;
}

.input-group input,
button {
    height: 48px;
    border-radius: 6px;
}

.input-group-append .git-button {
    background-color: #6d42c1 !important;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 16px 24px !important;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.input-group-append:hover {
    -webkit-box-shadow: 1px 29px 18px 9px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 1px 29px 18px 9px rgba(34, 60, 80, 0.1);
    box-shadow: 1px 29px 18px 9px rgba(34, 60, 80, 0.1);
}

.github-hr {
    background-color: #31363c;
    width: 48px;
    height: 1px;
    transform: rotate(90deg);
    margin-top: 24px;
}

.github-hr-button {
    color: #fff !important;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 16px 24px !important;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.github-hr-button:hover {
    border-color: #fff !important;
    color: #fff !important;
}

.github-hr-button:hover .fa-chevron-right {
    display: none;
}

.github-hr-button:hover .fa-arrow-right {
    display: block !important;
}

.github-button-img {
    display: flex;
    justify-content: space-between;
}